* {
  margin: 0;
  box-sizing: border-box;
  min-width: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;

  gap: 12px;
}

button {
  padding: 8px 16px;
  border: none;
  background-color: #718096;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
